# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Logs
*.log
/tmp/

# Database files
highscores.json
highscores.json.bak

# Backup files
*.backup.json
*.bak.json
*_backup.json
*_enriched_*.json


